body {
  color: #e8f0fe;
  background-color: #080c14;
  font-family: 'Outfit', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
