@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link-custom {
    @apply font-montserrat font-semibold text-[18px] hover:text-yellow-400 cursor-pointer transition-all duration-150;
  }
}

/* Global selection color using Tailwind utility */
::selection {
  @apply bg-yellow-400 text-black;
}

/* Custom scrollbar styles using Tailwind color values */
::-webkit-scrollbar {
  width: 16px;
  background: transparent; /* dark-800 */
}
::-webkit-scrollbar-thumb {
  background: transparent; /* beige-200 */
  border-radius: 16px;
}
::-webkit-scrollbar-thumb:hover {
  background: transparent; /* beige-100 for hover effect */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #e8e1d9 transparent; /* beige-200 */
}
